<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="icon" href="/assets/favicon/favicon.ico">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <meta property="og:title" content="SaltySouls">
    <meta property="og:description"
        content="Welcome to The Youth Garage, your digital haven for real-life stories, genuine inspiration, and the transformative power of faith. We believe in the extraordinary impact that sharing personal experiences can have on shaping lives. This is more than just a blog; it's a sanctuary where we navigate the twists and turns of life, armed with the wisdom of the Word and the strength of prayer.">
    <title>SaltySouls</title>
</head>

<body>
    <xf-web-main></xf-web-main>

</body>

</html>